annotated-types==0.6.0 ; python_version >= "3.12" and python_version < "4.0"
asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4.0"
django-environ==0.11.2 ; python_version >= "3.12" and python_version < "4"
django-extensions==3.2.3 ; python_version >= "3.12" and python_version < "4.0"
django-ninja==1.1.0 ; python_version >= "3.12" and python_version < "4.0"
django==5.0.4 ; python_version >= "3.12" and python_version < "4.0"
pydantic-core==2.16.3 ; python_version >= "3.12" and python_version < "4.0"
pydantic==2.6.4 ; python_version >= "3.12" and python_version < "4.0"
python-decouple==3.8 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.11.0 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
